
CoffeeMachineProject/.vs/
CoffeeMachineProject/CoffeeMachineLibrary/bin/
CoffeeMachineProject/CoffeeMachineLibrary/obj/
CoffeeMachineProject/CoffeeMachineTest/bin/
CoffeeMachineProject/CoffeeMachineTest/obj/
